body {
    background-color: black;
}

button {
    color: black;
    background-color: white;
    border: 1px solid gray;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: red;
}

.todo-item input[type="checkbox"]{
    margin-right: 10px;
}